.top-button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50px;
}

.city {
    margin: 10px;
    background-color: antiquewhite;
    width: 100px;
    border-radius: 29px;
}